body {
    overflow: hidden;
}

.sidebar {
    width: 17rem !important;
}

#tree {
    height: 85vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#content {
    min-height: 100vh;
    width: 100%;
}



